<div class="container">
  <div class="row">
    <div class="col">
      <br><br><br>
      <p id="notice"><%= notice %></p>


      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Page d'utilisateur</h2>
            <p><br>
        <strong>Email :</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Description :</strong>
        <%= @user.description %>
      </p>

      <p>
        <strong>Prénom :</strong>
        <%= @user.first_name %>
      </p>

      <p>
        <strong>Nom :</strong>
        <%= @user.last_name %>
      </p>

      <div class="form-group">
        <strong><%= link_to 'Modifier le mot de passe', edit_user_registration_path, class:"form-control" %> </strong>
      </div>

            <div class="actions mt-5"><%= link_to 'Editer', edit_user_path(@user), class:"btn btn-outline-light", type:"button"  %> <%= link_to 'Résilier son compte', user_path(@user), method: :delete, data: { confirm: 'Sans regret ? Toutes tes données seront perdues 😱' }, class:"btn btn-outline-light", type:"button"  %></div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>