<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="p-5 bg-light border rounded-3">
      <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= form_with(model: @event, local: true) do |f| %>

      <div class="form-group">
        <%= f.label :start_date, "Date de début" %><br />
        <%= f.date_field :start_date, autofocus: true, class: "form-control" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :duration, "Durée(en minutes)" %><br />
        <%= f.number_field :duration, step: 5, class: "form-control"%>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :title, "Titre de l'événement" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :description, "Description de l'événement" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :price, "Prix de l'événement" %>
        <%= f.number_field :price, in: 1..1000, step: 1, class: "form-control" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :location, "Lieu de l'événement" %>
        <%= f.text_field :location, class: "form-control" %>
      </div>
      <br>
      <div class="actions mt-3">
        <%= f.submit "Et c'est parti !", class:"btn btn-outline-secondary"%>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
</div>