<div class="row align-items-md-stretch">
  <div class="col">
    <div class="h-100 p-5 bg-light border rounded-3">
      <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>On veut tout savoir !<br></h2>
            <p><%= form.label :date %><br>
              <%= form.datetime_select :start_date %>
            </p>
            <p><%= form.label :durée_en_minutes %><br>
              <%= form.number_field :duration %>
            </p>
            <p><%= form.label :titre %><br>
              <%= form.text_field :title %>
            </p>
            <p> <%= form.label :détails %><br>
              <%= form.text_area :description %>
            </p>
            <p><%= form.label :prix %><br>
              <%= form.number_field :price %>
            </p>
            <p><%= form.label :lieu %><br>
              <%= form.text_field :location %>
            </p><br>
            <%= form.submit :Ajouter %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>