<div class="container">
  <div class="row">
    <br><br><br>
    <p id="notice"><%= notice %></p>

    <h1><br>Tous les détails de l'événement</h1>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <p><%= @event.start_date %>, durée : <%= @event.duration %> minutes</td></p>
          <h2><%= @event.title %></h2>
          <p><%= @event.description %></p>
          <p>Prix : <%= @event.price %> €, Lieu : <%= @event.location %></p>
          <button class="btn btn-outline-light" type="button"><%= link_to 'Editer', edit_event_path(@event) %></button>
          <button class="btn btn-outline-light" type="button"><%= link_to 'Effacer', event_path(@event), method: :delete, data: { confirm: 'Sans regret ? 😱' } %></button>
        </div>
      </div>
    </div> <br>
    <%= link_to 'Retour', events_path %>
    <br>
  </div>
</div>
